MOBILE_EXPO_HOST=
MOBILE_API_HOST=
REACT_NATIVE_PACKAGER_HOSTNAME=
EXPO_PUBLIC_DEFAULT_API_HOST=
EXPO_PUBLIC_API_BASE_URL=https://massage-forum-sacramento-mechanisms.trycloudflare.com
EXPO_PUBLIC_PRESIGNED_UPLOAD_URL_ENDPOINT=https://massage-forum-sacramento-mechanisms.trycloudflare.com/api/prescriptions/upload-url