MOBILE_EXPO_HOST=192.168.0.10
MOBILE_API_HOST=192.168.0.10
REACT_NATIVE_PACKAGER_HOSTNAME=192.168.0.10
EXPO_PUBLIC_DEFAULT_API_HOST=192.168.0.10
EXPO_PUBLIC_PRESIGNED_UPLOAD_URL_ENDPOINT=http://192.168.0.10:8081/api/prescriptions/upload-url
EXPO_PUBLIC_API_BASE_URL=
